In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

/kaggle/input/spaceship-titanic/sample_submission.csv
/kaggle/input/spaceship-titanic/train.csv
/kaggle/input/spaceship-titanic/test.csv

In [4]:
df= pd.read_csv('/kaggle/input/spaceship-titanic/train.csv')
df

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [ ]:
df.shape

In [ ]:
df.info()

In [18]:
low_cardinality_cols = [cname for cname in df.columns if df[cname].nunique() < 10 and 
                        df[cname].dtype == "object"]
low_cardinality_cols

# Select numerical columns
numerical_cols = [cname for cname in df.columns if df[cname].dtype in ['int64', 'float64']]
numerical_cols
print(f'low_cardinality_cols:{low_cardinality_cols}\n' 
      
f'numerical_cols:{numerical_cols}')

low_cardinality_cols:['HomePlanet', 'CryoSleep', 'Destination', 'VIP']
numerical_cols:['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']

**using the method of lesson3 of intermediate_ML is not appropriate, since the only column that is excluded is 'cabin', which seems to be an feature, unlike the example of the tutorial which excluded columns like `Address` .**

In [110]:
# It would be used for features
my_cols = df.columns[1:12]
my_cols

Index(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'Age', 'VIP',
       'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck'],
      dtype='object')

In [111]:
missing_values=df.isna().sum()
missing_values
number_missing_values=missing_values.sum()
number_missing_values

2324

In [112]:
total_cells =np.product(df.shape)
total_cells
percentage_missing_values = (number_missing_values /total_cells) *100
percentage_missing_values

1.9095824226389047

In [113]:
# It is just for seeing the dropped ones. 
to_drop=df[df.isna().any(axis=1)]
to_drop
to_drop.isna().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

In [114]:
cols_with_missing = [col for col in df.columns
                     if df[col].isnull().any()]
cols_with_missing
df1 = df.dropna( axis=0)
df1

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,Propsh Hontichre,True

In [115]:
df1.describe().transpose()

               count        mean          std  min   25%   50%    75%      max
Age           6606.0   28.894036    14.533429  0.0  19.0  27.0  38.00     79.0
RoomService   6606.0  222.991674   644.987936  0.0   0.0   0.0  49.00   9920.0
FoodCourt     6606.0  478.958523  1678.592291  0.0   0.0   0.0  82.75  29813.0
ShoppingMall  6606.0  178.356494   576.328407  0.0   0.0   0.0  30.00  12253.0
Spa           6606.0  313.161520  1144.016291  0.0   0.0   0.0  65.00  22408.0
VRDeck        6606.0  303.780048  1127.142166  0.0   0.0   0.0  52.00  20336.0

In [118]:
y = df1['Transported']

In [119]:
X= df1[my_cols].copy()
X.head()

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0

In [ ]:
g = sns.FacetGrid(df1, col='Transported', height=4)
g.map(sns.histplot, 'HomePlanet')
plt.show()

In [ ]:
g = sns.FacetGrid(df1, col='Transported', height=4)
g.map(sns.histplot, 'CryoSleep')
plt.show()

In [ ]:
g = sns.FacetGrid(df1, col='Transported', height=4)
g.map(sns.histplot,'Destination')
plt.show()

In [ ]:
g = sns.FacetGrid(df1, col='Transported', height=4)
g.map(sns.histplot, 'VIP')
plt.show()

In [ ]:
fig, ax = plt.subplots(5,1,  figsize=(10, 10))
plt.subplots_adjust(top = 2)

sns.histplot(df1['Age'], color='b', bins=50, ax=ax[0]);
sns.histplot(df1['FoodCourt'], color='b', bins=50, ax=ax[1]);
sns.histplot(df1['ShoppingMall'], color='b', bins=50, ax=ax[2]);
sns.histplot(df1['Spa'], color='b', bins=50, ax=ax[3]);
sns.histplot(df1['VRDeck'], color='b', bins=50, ax=ax[4]);

In [ ]:
# heatmap_cols= numerical_cols +Transported
sns.heatmap(df1[numerical_cols +['Transported'] ].corr(), annot=True, cmap='coolwarm')
plt.show()

In [ ]:
pd.crosstab(df1["HomePlanet"], y)

In [ ]:
pd.crosstab(df1['CryoSleep'],y)

In [ ]:
pd.crosstab(df1['Destination'],y)

In [ ]:
pd.crosstab(df1[ 'VIP'],y)

In [132]:
s = (X.dtypes == 'object')
s
object_cols=s[s].keys()
object_cols
# object_columns=['HomePlanet', 'CryoSleep', 'Destination', 'VIP']
# object_columns

Index(['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP'], dtype='object')

In [134]:
X_train, X_valid, y_train, y_valid= train_test_split(X, y, train_size=0.8, test_size=0.2,random_state=0)

In [136]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Function for comparing different approaches
def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [138]:
# from sklearn.preprocessing import OrdinalEncoder
# from sklearn.preprocessing import OneHotEncoder
# # Make copy to avoid changing original data 
# label_X_train = X_train.copy()
# label_X_valid = X_valid.copy()

# OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
# cabin_col=X_train['Cabin'].values.reshape(-1, 1)
# cabin_col_X_valid=X_valid['Cabin'].values.reshape(-1, 1)

# OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(cabin_col))
# OH_cols_valid = pd.DataFrame(OH_encoder.transform(cabin_col_X_valid))


# # One-hot encoding removed index; put it back
# OH_cols_train.index = X_train.index
# OH_cols_valid.index = X_valid.index

# num_X_train = X_train.drop(X_train['Cabin'], axis=1)
# num_X_valid = X_valid.drop(X_valid['Cabin'], axis=1)

# # Add one-hot encoded columns to numerical features
# OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
# OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)

# # Apply ordinal encoder to each column with categorical data
# ordinal_encoder = OrdinalEncoder()
# label_X_train[object_columns] = ordinal_encoder.fit_transform(OH_X_train[object_columns])
# label_X_valid[object_columns] = ordinal_encoder.transform(OH_X_valid[object_columns])

# print("MAE from Approach 2 (Ordinal Encoding):") 
# print(score_dataset(label_X_train, label_X_valid, y_train, y_valid))

In [137]:
from sklearn.preprocessing import OneHotEncoder

# Apply one-hot encoder to each column with categorical data
OH_encoder = OneHotEncoder(handle_unknown='ignore', sparse=False)
OH_cols_train = pd.DataFrame(OH_encoder.fit_transform(X_train[object_cols]))
OH_cols_valid = pd.DataFrame(OH_encoder.transform(X_valid[object_cols]))

# One-hot encoding removed index; put it back
OH_cols_train.index = X_train.index
OH_cols_valid.index = X_valid.index

# Remove categorical columns (will replace with one-hot encoding)
num_X_train = X_train.drop(object_cols, axis=1)
num_X_valid = X_valid.drop(object_cols, axis=1)

# Add one-hot encoded columns to numerical features
OH_X_train = pd.concat([num_X_train, OH_cols_train], axis=1)
OH_X_valid = pd.concat([num_X_valid, OH_cols_valid], axis=1)

# Ensure all columns have string type
OH_X_train.columns = OH_X_train.columns.astype(str)
OH_X_valid.columns = OH_X_valid.columns.astype(str)

print("MAE from Approach 3 (One-Hot Encoding):") 
print(score_dataset(OH_X_train, OH_X_valid, y_train, y_valid))

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

MAE from Approach 3 (One-Hot Encoding):
0.23127458396369138

*For this approach I would like to use pipeline to deal with missing value(Imputing)
and categorical values.For this porpose I mostly use the techniques of "Intermediate Machine learning lesson 4".*

In [8]:
data = pd.read_csv('/kaggle/input/spaceship-titanic/train.csv')
data
y = data["Transported"]
X= data.drop(['PassengerId','Name','Transported'],axis=1)
X
X_train_full, X_valid_full, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2,
                                                                random_state=0)

In [21]:
numerical_cols = [cname for cname in X_train_full.columns if X_train_full[cname].dtype in ['int64','float64'] ]
numerical_cols
categorical_cols = [cname for cname in X_train_full.columns if cname not in numerical_cols]
print(f'numerical_cols:{numerical_cols}')
      
print(f'categorical_cols:{categorical_cols}')

numerical_cols:['Age', 'RoomService', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']
categorical_cols:['HomePlanet', 'CryoSleep', 'Cabin', 'Destination', 'VIP']

In [22]:
my_cols = categorical_cols + numerical_cols
X_train = X_train_full[my_cols].copy()
X_valid = X_valid_full[my_cols].copy()

In [23]:
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder

# Preprocessing for numerical data
numerical_transformer = SimpleImputer(strategy='constant')

# Preprocessing for categorical data
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# Bundle preprocessing for numerical and categorical data
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

In [24]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(n_estimators=100, random_state=0)

In [25]:
from sklearn.metrics import mean_absolute_error

# Bundle preprocessing and modeling code in a pipeline
my_pipeline = Pipeline(steps=[('preprocessor', preprocessor),
                              ('model', model)
                             ])

# Preprocessing of training data, fit model 
my_pipeline.fit(X_train, y_train)

# Preprocessing of validation data, get predictions
preds = my_pipeline.predict(X_valid)

# Evaluate the model
score = mean_absolute_error(y_valid, preds)
print('MAE:', score)

MAE: 0.2374348421369698